.profile__edit-button {
    background-color: #000;
    border: none;
    max-width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 14px 0 0 auto;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity .2s linear;   
}

@media screen and (max-width: 1060px) {
    .profile__edit-button {
        margin: auto;
    }
}