.profile__add-button {
    max-width: 150px;
    background-color: #000;
    border: none;
    outline: 2px solid #fff;
    border-radius: 2px;
    margin: 36px 0 36px auto;
    padding: 0;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity .2s linear;
}

@media screen and (max-width: 1060px) {
    .profile__add-button {
        max-width: 100%;
        margin: 34px 0 0;
    }
}