.profile__user-info {
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: auto;
    gap: 10px 20px;
    margin: 22px auto 20px;
    padding: 0;
}

@media screen and (max-width: 1060px) {
    .profile__user-info {
        grid-template-columns: auto 18px;
        margin: 0 auto;
        gap: 8px 10px;
    }
}