.profile__user-job {
    line-height: auto;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1060px) {
    .profile__user-job {
        font-size: 14px;
        margin-left: 42px;
    }
}